# Diretórios de build
build/
out/
**/.gradle/

# IDEs
.idea/
*.iml
*.iws

# Gradle
**/.gradle/
!gradle/wrapper/gradle-wrapper.jar

# Arquivos temporários e logs
*.log
*.tmp
*.swp
*.class

# Arquivos do sistema operacional
.DS_Store
Thumbs.db

# Relatórios de teste
test-output/
coverage/
jacoco.exec

# JARs gerados
build/**/*.jar
out/**/*.jar
